body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ea123d, #1637dc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #f3c5c5;
}

#quiz-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

header h1 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}

#options {
    list-style: none;
    padding: 0;
    margin: 0;
}

#options li {
    margin-bottom: 10px;
}

#options .option {
    display: block;
    width: 100%;
    padding: 10px;
    background: #3f5efb;
    border: 1px solid #02151e;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

#options .option:hover {
    background: #fc466b;
    color: #0d0d0d;
}

#timer {
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

#result {
    display: none;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#restart-btn {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#restart-btn:hover {
    background-color: #0056b3;
}

